.devices-main-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.devices-header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.devices-header h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #111827;
}

.devices-header p {
  color: #6b7280;
}

.device-add-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #336ff0;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: background-color 0.2s;
  border: none;
  cursor: pointer;
}

.device-add-btn:hover {
  background-color: #1248db;
}

.plus-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.devices-filters {
  display: flex;
  gap: 1rem;
  padding: 10px;
  border-radius: 10px;
  background: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  transition: all 0.3s ease;
}

.device-search-box {
  position: relative;
  flex: 1;
}

.device-search-icon {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: #9ca3af;
  width: 1.25rem;
  height: 1.25rem;
}

.device-search-box input {
  width: 100%;
  padding: 0.75rem 0.75rem 0.75rem 2.5rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  outline: none;
}

.device-search-box input:focus {
  border-color: transparent;
  box-shadow: 0 0 0 2px #3b82f6;
}

.device-filter-group {
  display: flex;
  gap: 0.75rem;
}

.device-filter-box {
  position: relative;
  flex: 1;
  align-content: center;
}

.device-filter-icon {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  color: #9ca3af;
  width: 1rem;
  height: 1rem;
}

.device-filter-box select {
  width: 100%;
  padding: 0.5rem 0.75rem 0.5rem 2.5rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  outline: none;
  cursor: pointer;
}

.device-filter-box select:focus {
  border-color: transparent;
  box-shadow: 0 0 0 2px #3b82f6;
}

.devices-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.no-devices {
  background-color: #fff;
  border: 1px solid #f3f4f6;
  border-radius: 0.75rem;
  padding: 3rem;
  text-align: center;
  color: #6b7280;
}

.devices-footer {
  background: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  transition: all 0.3s ease;
  text-align: center;
  color: #6b7280;
  margin-bottom: 2rem;
}

/* ----------------------- Modal box --------------------- */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-box {
  background: #fff;
  width: 400px;
  max-height: 80vh;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.close-icon {
  cursor: pointer;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  overflow-y: auto;
  padding-right: 5px;
}

.modal-body label {
  font-weight: 600;
  margin-bottom: 4px;
}

.modal-body input,
.modal-body select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

.modal-body input:focus,
.modal-body select:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
  flex-shrink: 0;
}

.btn-cancel {
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  background: #ccc;
  cursor: pointer;
}

.btn-submit {
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  background: #336ff0;
  color: #fff;
  cursor: pointer;
}

/* ------------------------- Responsive Style ----------------------- */

@media (max-width: 768px) {
  .devices-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 568px) {
  .devices-filters {
    flex-direction: column;
  }

  .devices-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
